footer{
    background-color: aqua;
    padding: 3px;
    text-align: center;
    position: fixed;
    top: 20px;
    right: -250px;
    width: 600px;
    transform: rotate(45deg);
    font-size: 10px;
    border-top: 3px solid red;
    border-bottom: 3px solid green;
}
.container{
    background-image: linear-gradient(aqua,blue);
    margin-top: 10px;
    border-radius: 5px;
    
}